@media only screen and (max-width: 568px) {
	body,
	html {
		font-size: 45%;
	}

	//INTRO
	#intro {
		height: 70vh;
		& .intro-content {
			width: 100%;
			& h1 {
				position: unset;
			}
		}
	}

	//SKILLS
	.skills-content__single-skill {
		width: 100px;
		padding: 3rem 0;
		& i,
		&__logo {
			height: 50px;
		}
	}
	.graph-article.show-content,
	.oth-article.show-content {
		flex-direction: column;
		& .left-div {
			padding-right: 0;
			padding-bottom: 1rem;
			margin-right: 0;
			border-right: 0;
		}
	}

	// PORTFOLIO
	.carousel__cell {
		width: 100%;
	}
}
