@media only screen and (max-width: 1024px) {
	body,
	html {
		font-size: 50%;
	}

	// HEADER
	.blob-nav {
		transform: scale(0.8);
		top: -9rem;
		right: 0;
	}

	// INTRO
	.blob-intro svg {
		height: 110vh;
	}

	// EXPERIENCE
	.exp-content__images__svg {
		transform: scale(0.7);
		left: -20rem;
	}

	// PORTFOLIO
	.carousel__cell {
		width: 85%;
		padding: 0 1rem;
	}

	// CONTACT
	.contact-content__list {
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	#intro,
	.skills-content,
	.exp-content,
	#portf-title,
	.contact-content {
		width: 90%;
	}

	// HEADER
	header {
		padding: 0 0 2rem 2rem;
	}
	.blob-nav {
		right: -9rem;
	}
	.main-nav {
		position: fixed;
	}
	.menu {
		flex-direction: column;
		position: absolute;
		top: 0;
		right: 0;
		padding-top: 12rem;
		background-color: $grey2;
		height: 100vh;
		transition: transform 0.3s ease-in;
		transform: translate(200%);
	}
	.show-nav-content {
		transform: translate(0%);
	}
	.ham {
		display: block;
		z-index: 100;
	}
	.ham-clicked {
		& .bar1 {
			transform: rotate(45deg) translate(8px, 3px);
		}
		& .bar2 {
			opacity: 0;
		}
		& .bar3 {
			transform: rotate(-45deg) translate(8px, -3px);
		}
	}

	// EXPERIENCE
	.exp-content {
		flex-direction: column;
		&__images h2 {
			margin-bottom: 0;
		}
		&__images__svg {
			left: -13rem;
			position: relative;
		}
		&__images__blob {
			left: 0;
			top: 0;
			& svg {
				height: 60vh;
			}
		}
	}
	.exp-content__accordion {
		padding-top: 0;
		width: 100%;
	}
}
