@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");
@keyframes move {
  0% {
    transform: scale(1) translate(10px, -10px);
  }
  40% {
    transform: scale(0.8, 1) translate(-10px, 20px) rotate(10deg);
  }
  70% {
    transform: scale(0.8, 1) translate(0px, 10px) rotate(-5deg);
  }
  100% {
    transform: scale(1) translate(10px, -10px);
  }
}
@keyframes shake {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }
  20%, 40%, 60% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  80% {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }
  90% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 7rem;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #47b9d2;
}

h3 {
  font-size: 3rem;
  font-weight: 700;
}

h4 {
  font-size: 2.5rem;
  font-weight: 400;
}

h5 {
  font-size: 1.9rem;
  font-weight: 400;
  color: #47b9d2;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  background-color: #1f2227;
  color: white;
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 62.5%;
  overflow-x: hidden;
  z-index: 0;
}

header,
section {
  font-size: 1.6rem;
}

header {
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
}

.blob-nav {
  opacity: 0.5;
  position: absolute;
  top: -7rem;
  right: -2rem;
}

nav {
  z-index: 10;
  font-size: 1.8rem;
  font-weight: 700;
}
nav .menu {
  display: flex;
  list-style-type: none;
}
nav .menu__link {
  margin: 2rem 3rem;
}
nav .menu__link a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  position: relative;
  transition: 0.5s;
}
nav .menu__link a::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: all 0.5s ease;
}
nav .menu__link a:hover::after {
  width: 100%;
  background: #47b9d2;
}
nav .menu__link a:hover, nav .menu__link .current {
  color: white;
}
nav .menu__link .current::after {
  width: 100%;
  background: #47b9d2;
}

.blob-intro {
  position: absolute;
  top: -25rem;
  left: -60rem;
  animation: move 15s ease-in-out infinite;
}
.blob-intro svg {
  transform: rotate(-35deg);
  filter: drop-shadow(20px 30px 50px rgba(0, 0, 0, 0.5));
}

#intro {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  height: 65vh;
  position: relative;
  width: 80%;
  margin: auto;
}
#intro .intro-content {
  width: 50%;
}
#intro .intro-content h1 {
  position: absolute;
  top: 10%;
  left: 10%;
  color: #47b9d2;
  mix-blend-mode: color-dodge;
}
#intro .intro-content h3 {
  color: #47b9d2;
  padding: 6rem 0 3rem 0;
}
#intro .intro-content p {
  font-size: 2rem;
  line-height: 150%;
}
#intro .intro-content p .arrow {
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 4rem;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
#intro .intro-content p .arrow:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#skills {
  background-color: #292e36;
}
#skills .section-svg {
  background-color: #1f2227;
}

.skills-content {
  width: 80%;
  margin: auto;
}
.skills-content__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin: 5rem 0;
  width: 550px;
  position: relative;
}
.skills-content__nav__blob {
  position: absolute;
}
.skills-content__nav__btn {
  padding: 0 2rem;
  cursor: pointer;
  z-index: 10;
}
.skills-content__article {
  transition: width 1s;
  max-width: auto;
  display: none;
}
.skills-content__article__title {
  padding: 2rem 0;
}
.skills-content__article__items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.skills-content .tech-article {
  flex-direction: column;
}
.skills-content .graph-article {
  justify-content: flex-start;
}
.skills-content .graph-article .left-div {
  padding-right: 3rem;
  margin-right: 7rem;
  border-right: 1px solid white;
}
.skills-content .graph-article .right-div p {
  margin: 2rem 0;
  font-size: 2rem;
}
.skills-content__single-skill {
  width: 150px;
  padding: 1rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skills-content__single-skill i, .skills-content__single-skill__logo {
  font-size: 5rem;
  display: block;
  height: 70px;
  transition: 0.3s;
}
.skills-content__single-skill i:hover, .skills-content__single-skill__logo:hover {
  animation: shake 0.7s ease-in-out both;
}
.skills-content__single-skill__logo {
  font-weight: 700;
  cursor: default;
}
.skills-content__single-skill img {
  margin-bottom: 1.5rem;
  transition: 0.3s;
}
.skills-content__single-skill img:hover {
  animation: shake 0.7s ease-in-out both;
}
.skills-content .show-content {
  display: flex;
}

#exp {
  background-color: #363f4a;
}
#exp .exp-svg {
  background-color: #292e36;
}

.exp-content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.exp-content__images {
  position: relative;
}
.exp-content__images h2 {
  margin-bottom: 10rem;
}
.exp-content__images__svg {
  position: relative;
  left: -15rem;
  z-index: 10;
}
.exp-content__images__blob {
  position: absolute;
  left: -35rem;
  top: -5rem;
}
.exp-content__images__blob svg {
  transform: rotate(100deg);
  filter: drop-shadow(20px 30px 50px rgba(0, 0, 0, 0.5));
}

.exp-content__accordion {
  text-align: right;
  overflow: hidden;
  padding: 5rem 0 10rem 0;
}
.exp-content__accordion__tab {
  width: 100%;
  overflow: hidden;
}
.exp-content__accordion__tab label {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  cursor: pointer;
}
.exp-content__accordion__tab label:hover {
  background: #292e36;
  border-radius: 10px;
}
.exp-content__accordion__tab label::after {
  content: "â¯";
  color: #47b9d2;
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.4s;
}
.exp-content__accordion__tab .tab-content {
  max-height: 0;
  padding: 0 1rem;
  transition: 3s all 1s;
}
.exp-content__accordion__tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.exp-content__accordion__tab input:checked + label {
  background: #292e36;
  border-radius: 10px;
}
.exp-content__accordion__tab input:checked + label::after {
  transform: rotate(90deg);
}
.exp-content__accordion__tab input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

.tab-content h5 {
  padding: 3rem 0 1rem 0;
}
.tab-content h5 span {
  color: white;
}
.tab-content p {
  font-size: 2rem;
}

#portf {
  background-color: #292e36;
}
#portf .portf-blob {
  background-color: #363f4a;
}

.carousel {
  padding: 5rem 0;
}
.carousel__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  padding: 0 5rem;
}
.carousel__cell img {
  border-radius: 25px;
  width: 90%;
  height: 350px;
  object-fit: cover;
  opacity: 0.4;
  transition: 1s;
  margin-bottom: 3rem;
}
.carousel__cell.is-selected > img {
  opacity: 1;
}
.carousel__cell h5 {
  padding-bottom: 2rem;
}
.carousel__cell h5 span {
  color: white;
}
.carousel__cell p {
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 1rem;
}
.carousel__cell a {
  color: white;
  padding: 1rem;
}
.carousel__cell a:hover > i {
  transform: scale(1.3);
}
.carousel__cell i {
  transition: 0.3s;
  font-size: 2.2rem;
}
.carousel .flickity-page-dots {
  display: none;
  pointer-events: none;
}
.carousel .flickity-button {
  background: linear-gradient(140deg, #721992 10%, #4f21bb 40%, #106d82 90%);
  opacity: 0.7;
  color: white;
  box-shadow: 2px 4px 6px #1b1b1b;
  transition: 0.2s;
}
.carousel .flickity-button:hover {
  background: linear-gradient(140deg, #721992 10%, #4f21bb 40%, #106d82 90%);
  opacity: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(140deg, #721992 10%, #4f21bb 40%, #106d82 90%);
  border-radius: 5px;
  opacity: 0.5;
}