@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");
@keyframes move {
  0% {
    transform: scale(1) translate(10px, -10px);
  }
  40% {
    transform: scale(0.8, 1) translate(-10px, 20px) rotate(10deg);
  }
  70% {
    transform: scale(0.8, 1) translate(0px, 10px) rotate(-5deg);
  }
  100% {
    transform: scale(1) translate(10px, -10px);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 7rem;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #47B9D2;
}

h3 {
  font-size: 3rem;
  font-weight: 700;
}

h4 {
  font-size: 2.5rem;
  font-weight: 400;
}

h5 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #47B9D2;
}

html {
  scroll-behavior: smooth;
}

body, html {
  background-color: #1F2227;
  color: white;
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 62.5%;
  overflow-x: hidden;
  z-index: 0;
}

header, section {
  font-size: 1.6rem;
}

header {
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
}

.blob-nav {
  opacity: 0.5;
  position: absolute;
  top: -7rem;
  right: -2rem;
}

nav {
  z-index: 10;
  font-size: 1.8rem;
  font-weight: 700;
}
nav .menu {
  display: flex;
  list-style-type: none;
}
nav .menu__link {
  margin: 2rem 3rem;
}
nav .menu__link a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  position: relative;
  transition: 0.5s;
}
nav .menu__link a::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: all 0.5s ease;
}
nav .menu__link a:hover::after {
  width: 100%;
  background: #47B9D2;
}
nav .menu__link a:hover, nav .menu__link .current {
  color: white;
}
nav .menu__link .current::after {
  width: 100%;
  background: #47B9D2;
}

.blob-intro {
  position: absolute;
  top: -25rem;
  left: -60rem;
  animation: move 15s ease-in-out infinite;
}
.blob-intro svg {
  transform: rotate(-35deg);
  filter: drop-shadow(20px 30px 50px rgba(0, 0, 0, 0.5));
}

#intro {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  height: 65vh;
  position: relative;
  width: 80%;
  margin: auto;
}
#intro .intro-content {
  width: 50%;
}
#intro .intro-content h1 {
  position: absolute;
  top: 10%;
  left: 10%;
  color: #47B9D2;
  mix-blend-mode: color-dodge;
}
#intro .intro-content h3 {
  color: #47B9D2;
  padding: 6rem 0 3rem 0;
}
#intro .intro-content p {
  font-size: 2rem;
  line-height: 150%;
}
#intro .intro-content p .arrow {
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 4rem;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
#intro .intro-content p .arrow:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#skills {
  background-color: #292E36;
}

.skills-content {
  width: 80%;
  margin: auto;
}
.skills-content__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.skills-content__nav__btn {
  padding-right: 2rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(140deg, #721992 10%, #4F21BB 40%, #106D82 90%);
  border-radius: 5px;
  opacity: 0.5;
}

#exp {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.exp__images {
  position: relative;
}
.exp__images h2 {
  margin-bottom: 10rem;
}
.exp__images__svg {
  position: relative;
  left: -15rem;
  z-index: 10;
}
.exp__images__blob {
  position: absolute;
  left: -35rem;
  top: 0;
}
.exp__images__blob svg {
  transform: rotate(100deg);
  filter: drop-shadow(20px 30px 50px rgba(0, 0, 0, 0.5));
}
.exp__accordion {
  text-align: right;
}