@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");

@keyframes move {
  0% {
    transform: scale(1) translate(10px, -10px);
  }

  40% {
    transform: scale(0.8, 1) translate(-10px, 20px) rotate(10deg);
  }

  70% {
    transform: scale(0.8, 1) translate(0px, 10px) rotate(-5deg);
  }

  100% {
    transform: scale(1) translate(10px, -10px);
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes shake {

  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  10% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }

  20%,
  40%,
  60% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }

  30%,
  50%,
  70% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }

  80% {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }

  90% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 7rem;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #47b9d2;
  padding-top: 2rem;
}

h3 {
  font-size: 3rem;
  font-weight: 700;
}

h4 {
  font-size: 2.5rem;
  font-weight: 400;
}

h5 {
  font-size: 1.9rem;
  font-weight: 400;
  color: #47b9d2;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  background-color: #1f2227;
  color: white;
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 62.5%;
  overflow-x: hidden;
  z-index: 0;
}

header,
section {
  font-size: 1.6rem;
}

header,
#intro,
.skills-content,
.exp-content,
#portf-title,
.contact-content {
  max-width: 1500px;
}

.animation {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1f2227;
  animation: height-change 1s 2.5s both;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.animation__logo {
  animation: fade-in 1s 0.5s both, fade-out 0.5s 2.5s both;
}

@keyframes height-change {
  0% {
    height: 100vh;
    z-index: 200;
  }

  100% {
    height: 0;
    z-index: 0;
  }
}

@keyframes fade-in {
  0% {
    transform: scale(400%);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
}

header {
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

.blob-nav {
  opacity: 0.5;
  position: absolute;
  top: -7rem;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  font-size: 1.8rem;
  font-weight: 700;
}

.main-nav .menu {
  display: flex;
  list-style-type: none;
}

.main-nav .menu__link {
  margin: 2rem 3rem;
  width: fit-content;
}

.main-nav .menu__link a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  position: relative;
  transition: 0.5s;
}

.main-nav .menu__link a::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: all 0.5s ease;
}

.main-nav .menu__link a:hover::after {
  width: 100%;
  background: #47b9d2;
}

.main-nav .menu__link a:hover {
  color: white;
}

.ham {
  display: none;
  padding: 3rem;
  cursor: pointer;
}

.ham .bar1,
.ham .bar2,
.ham .bar3 {
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.4s;
}

.ham:hover>.bar1,
.ham:hover>.bar2,
.ham:hover>.bar3 {
  background-color: white;
}

.blob-intro {
  position: absolute;
  top: -25rem;
  left: -60rem;
  animation: move 15s ease-in-out infinite;
}

.blob-intro svg {
  height: 120vh;
  max-height: 110rem;
  transform: rotate(-35deg);
  filter: drop-shadow(20px 30px 50px rgba(0, 0, 0, 0.5));
}

#intro {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  height: 65vh;
  max-height: 90rem;
  position: relative;
  width: 80%;
  margin: auto;
}

#intro .intro-content {
  width: 50%;
  z-index: 10;
}

#intro .intro-content h1 {
  position: absolute;
  top: 10%;
  left: 10%;
  color: #47b9d2;
  mix-blend-mode: color-dodge;
}

#intro .intro-content h3 {
  color: #47b9d2;
  padding: 6rem 0 3rem 0;
}

#intro .intro-content p {
  font-size: 2rem;
  line-height: 150%;
}

#intro .intro-content p .arrow {
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 4rem;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

#intro .intro-content p .arrow:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#skills {
  background-color: #292e36;
}

#skills .section-svg {
  background-color: #1f2227;
}

#skills-blob {
	position: absolute;
	transition: left 0.3s ease, top 0.3s ease;
	left: 0px;
	top: -50px;
}

.skills-content {
  width: 80%;
  margin: auto;
}

.skills-content__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5rem 0;
  position: relative;
}

.skills-content__nav__blob {
  transition: all 0.5s ease-in-out;
  position: absolute;
}

.skills-content__nav__btn {
  padding: 2rem;
  cursor: pointer;
  z-index: 10;
}

.skills-content__article {
  transition: width 1s;
  max-width: auto;
  display: none;
}

.skills-content__article__title {
  padding: 2rem 0;
}

.skills-content__article__items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills-content .tech-article {
  flex-direction: column;
}

.skills-content .graph-article .left-div,
.skills-content .oth-article .left-div {
  padding-right: 3rem;
  margin-right: 7rem;
  border-right: 1px solid white;
}

.skills-content .graph-article .right-div p,
.skills-content .oth-article .right-div p {
  margin: 2rem 0;
  font-size: 2rem;
}

.skills-content .oth-article progress {
  border-radius: 7px;
  width: 100%;
  height: 20px;
}

.skills-content .oth-article progress::-webkit-progress-bar {
  background-color: transparent;
  border-radius: 7px;
  border: 1px solid white;
}

.skills-content .oth-article progress::-webkit-progress-value {
  background-color: white;
  border-radius: 5px;
}

.skills-content .oth-article .left-div__progress-container {
  padding: 1rem 4rem 1rem 0;
}

.skills-content .oth-article .left-div p {
  padding: 1rem 0;
}

.skills-content__single-skill {
  text-align: center;
  width: 150px;
  padding: 1rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem
}

.skills-content__single-skill i,
.skills-content__single-skill__logo {
  font-size: 4.5rem;
  display: block;
  transition: 0.3s;
}

.skills-content__single-skill i:hover,
.skills-content__single-skill__logo:hover {
  animation: shake 0.7s ease-in-out both;
}

.skills-content__single-skill__logo {
  font-weight: 700;
  cursor: default;
}

.skills-content__single-skill img {
  transition: 0.3s;
  width: 55px;
  height: 50px;
}

.skills-content__single-skill img:hover {
  animation: shake 0.7s ease-in-out both;
}

.skills-content .show-content {
  display: flex;
  animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#exp {
  background-color: #363f4a;
}

#exp .exp-svg {
  background-color: #292e36;
}

.exp-content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.exp-content__images {
  position: relative;
}

.exp-content__images h2 {
  margin-bottom: 10rem;
}

.exp-content__images__svg {
  position: absolute;
  left: -15rem;
  z-index: 10;
}

.exp-content__images__blob {
  position: absolute;
  left: -35rem;
  top: -5rem;
  animation: move 15s ease-in-out infinite;
}

.exp-content__images__blob svg {
  height: 80vh;
  max-height: 90rem;
  transform: rotate(100deg);
  filter: drop-shadow(20px 30px 50px rgba(0, 0, 0, 0.5));
}

.exp-content__accordion {
  text-align: right;
  overflow: hidden;
  padding: 9rem 0 10rem 0;
  width: 60%;
  z-index: 10;
}

.exp-content__accordion__tab {
  width: 100%;
  overflow: hidden;
}

.exp-content__accordion__tab label {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  cursor: pointer;
}

.exp-content__accordion__tab label:hover {
  background: #292e36;
  border-radius: 10px;
}

.exp-content__accordion__tab label::after {
  content: "â¯";
  color: #47b9d2;
  width: 1em;
  height: 1em;
  text-align: center;
  transition: 0.9 all 0.4s;
}

.exp-content__accordion__tab .tab-content {
  padding: 0 1rem;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease, padding 0.4s ease;
}

.exp-content__accordion__tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.exp-content__accordion__tab input:checked+label {
  background: #292e36;
  border-radius: 10px;
}

.exp-content__accordion__tab input:checked+label::after {
  transform: rotate(90deg);
}

.exp-content__accordion__tab .tab-content h5 {
  padding: 3rem 0 1rem 0;
}

.tab-content h5 span {
  color: white;
}

.tab-content p {
  font-size: 2rem;
}

#portf {
  background-color: #292e36;
}

#portf .portf-blob {
  background-color: #363f4a;
}

#portf #portf-title {
  width: 80%;
  margin: auto;
}

#portf .portf-subtitle {
  padding-top: 2rem;
  width: 80%;
  margin: auto;
}

.carousel {
  padding: 7rem 0;
}

.carousel__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  padding: 0 5rem;
}

.carousel__cell img {
  border-radius: 25px;
  width: 90%;
  height: 350px;
  object-fit: cover;
  opacity: 0.4;
  transition: 1s;
  margin-bottom: 3rem;
}

.carousel__cell.is-selected>img {
  opacity: 1;
}

.carousel__cell h5 {
  padding-bottom: 2rem;
}

.carousel__cell h5 span {
  color: white;
}

.carousel__cell p {
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 1rem;
}

.carousel__cell a {
  color: white;
  padding: 1rem;
}

.carousel__cell a:hover>i {
  transform: scale(1.3);
}

.carousel__cell i {
  transition: 0.3s;
  font-size: 2.2rem;
}

.carousel .flickity-page-dots {
  display: none;
  pointer-events: none;
}

.carousel .flickity-button {
  background: linear-gradient(140deg, #721992 10%, #4f21bb 40%, #106d82 90%);
  opacity: 0.7;
  color: white;
  box-shadow: 2px 4px 6px #1b1b1b;
  transition: 0.2s;
}

.carousel .flickity-button:hover {
  background: linear-gradient(140deg, #721992 10%, #4f21bb 40%, #106d82 90%);
  opacity: 1;
}

.contact-svg {
  background-color: #292e36;
}

.contact-content {
  width: 80%;
  margin: auto;
  margin-bottom: 5rem;
}

.contact-content nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-content__list {
  width: 80%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 7rem;
}

.contact-content__list__item a,
.contact-content__list~a {
  color: white;
  font-size: 3.5rem;
}

.contact-content__list__item a:hover>i,
.contact-content__list~a:hover>i {
  transform: scale(1.3);
}

.contact-content__list~a {
  font-size: 1.8rem;
  text-decoration: none;
}

.contact-content__list__item i {
  transition: 0.3s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(140deg, #721992 10%, #4f21bb 40%, #106d82 90%);
  border-radius: 5px;
  opacity: 0.5;
}

@media only screen and (max-width: 1024px) {

  body,
  html {
    font-size: 50%;
  }

  .blob-nav {
    transform: scale(0.8);
    top: -9rem;
    right: 0;
  }

  .blob-intro svg {
    height: 110vh;
  }

  .skills-content__single-skill img {
    width: 45px;
    height: 40px;
  }

  .exp-content__images__svg {
    transform: scale(0.7);
    left: -20rem;
  }

  .carousel__cell {
    width: 85%;
    padding: 0 1rem;
  }

  .contact-content__list {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {

  #intro,
  .skills-content,
  .exp-content,
  #portf-title,
  .contact-content {
    width: 90%;
  }

  header {
    padding: 0 0 2rem 2rem;
  }

  .blob-nav {
    right: -9rem;
  }

  .main-nav {
    position: fixed;
  }

  .menu {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 12rem;
    background-color: #292e36;
    height: 100vh;
    transition: transform 0.3s ease-in;
    transform: translate(200%);
  }

  .show-nav-content {
    transform: translate(0%);
  }

  .ham {
    display: block;
    z-index: 100;
  }

  .ham-clicked .bar1 {
    transform: rotate(45deg) translate(8px, 3px);
  }

  .ham-clicked .bar2 {
    opacity: 0;
  }

  .ham-clicked .bar3 {
    transform: rotate(-45deg) translate(8px, -3px);
  }

  .exp-content {
    flex-direction: column;
  }

  .exp-content__images h2 {
    margin-bottom: 0;
  }

  .exp-content__images__svg {
    left: -13rem;
    position: relative;
  }

  .exp-content__images__blob {
    left: 0;
    top: 0;
  }

  .exp-content__images__blob svg {
    height: 60vh;
  }

  .exp-content__accordion {
    padding-top: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 568px) {

  body,
  html {
    font-size: 45%;
  }

  #intro {
    height: 70vh;
  }

  #intro .intro-content {
    width: 100%;
  }

  #intro .intro-content h1 {
    position: unset;
  }

  .skills-content__single-skill {
    width: 100px;
    padding: 3rem 0;
  }

  .skills-content__single-skill i,
  .skills-content__single-skill__logo {
    height: 50px;
  }

  .graph-article.show-content,
  .oth-article.show-content {
    flex-direction: column;
  }

  .graph-article.show-content .left-div,
  .oth-article.show-content .left-div {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-right: 0;
    border-right: 0;
  }

  .carousel__cell {
    width: 100%;
  }
}